* h1,
* h2, 
* p{
    text-align: center;
    color: white;
    margin: 0;
    padding: 10px;
}

h1{
    font-weight: bold;
}

body{
    background-color: #222;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00ab84;
    width: 100%;
    /* position: absolute; */
}

.topNav{
    float: right;
    width: 35%;
} 

.topNav ul{
    list-style: none;
}

.topNav ul li{
    display: inline-block;
    padding: 3%;
}

.topNav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.37);
    transition: 1s;
    font-weight: bold;
    font-size: larger;
}

.topNav ul li a:hover{
    color: rgb(255, 255, 255);
}

main{
    padding: 20px;
}

footer{
    padding: 20px 80px;
    display: flex;
    width: 100%;
    background-color: #00ab84;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    position: static;
    bottom: 0;
}

footer p{
    font-weight: bold;
}

footer img {
    width: 100px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-networks{
    display: flex;
    justify-content: center;
}

.social-networks a{
    margin: 5px;
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
}

.social-networks a:hover{
    color: #1c5c4d;
}

.footer-middle{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-right select{
    border: 0;
    border-radius: 20px;
    background-color: #66c9b2;
    width: fit-content;
    color: rgb(83, 80, 80);
    padding: 10px;
}